.quotes__cell {
  width: 243px;
  margin-top: 60px;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .quotes__cell {
    width: 230px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .quotes__cell {
    width: 230px;
    margin-top: 30px;
    /* margin-right: 15px; */
  }
}