.people__paragraph {
    
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 43px;
    margin-top: 0px;
    margin-right: 120px;
    margin-bottom: 0px;
    letter-spacing: 0.2px;
}

@media screen and (max-width: 550px) {
    .people__paragraph {
        margin-left: 10px;
        font-size: 28px;
        line-height: 39px;
        
    }
}

@media screen and (max-width: 320px) {
    .people__paragraph {
        margin-left: 0px;
        margin-right: 10px;
        font-size: 22px;
        line-height: 30px;
    }
}