.header {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #000000;

    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 700px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
    }
    
}