.footer {
    background-color: #fecda7;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 620px;
    color: #010101;
    font-family: Inter, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}